/**
 * Generates a set of style rules for the "navigation" tab UI.
 */
@include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: transparent,
    $ui-tab-background-color-over: #505050,
    $ui-tab-background-color-active: #fff,
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'none',
    $ui-tab-color: #fff,
    $ui-tab-color-over: #c4c4c4,
    $ui-tab-color-active: #000,
    $ui-tab-glyph-color: #acacac,
    $ui-tab-glyph-color-over: #c4c4c4,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 0,
    $ui-tab-border-radius: 0,
    $ui-tab-border-width: 0,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 10px 13px,
    $ui-tab-margin: 7px 10px,
    $ui-tab-font-size: 14px,
    $ui-tab-font-size-over: 14px,
    $ui-tab-font-size-active: 14px,
    $ui-tab-line-height: 19px,
    $ui-tab-font-weight: 600,
    $ui-tab-font-weight-over: 600,
    $ui-tab-font-weight-active: 600,
    $ui-tab-icon-width: 24px,
    $ui-tab-icon-height: 24px,
    $ui-tab-icon-spacing: 5px,
    $ui-bar-background-color: #691717,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
);

/**
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: #fff,
    $ui-header-glyph-color: #fff,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    $ui-header-font-weight: bold,
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 15px,
    $ui-header-background-color: $base-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 36px,
    $ui-header-noborder-adjust: false,
    $ui-border-color: #b3b3b3
);

@include extjs-button-small-ui(
    $ui: 'custom-button',
    $background-color: #691717,
    $border-color: #691717,
    $border-color-over: #340f0f,
    $border-color-focus: #340f0f,
    $border-color-pressed: #691717,
    $inner-border-width-over: 0,
    $inner-border-width-pressed: 0,
    $inner-border-width-focus: 0,
    $inner-border-width-focus-over: 0,
    $font-size: 14px
);

@include extjs-window-ui(
    $ui: 'window',
    $ui-border-radius: 5,
    $ui-header-background-color: #691717,
    $ui-header-border-width: 0,
    $ui-border-width: 0,
    $ui-header-inner-border-width: 0,
    $ui-body-border-width: 0
);

@include extjs-text-field-ui(
    $ui: 'textfield',
    $ui-focus-border-color: rgb(255, 196, 196),
    $ui-trigger-border-color-focus: rgb(255, 196, 196)
);

@include extjs-checkbox-ui(
    $ui: 'checkbox',
    $ui-checkbox-glyph-focus-color: #691717,
    $ui-checkbox-glyph-color: #691717,
    $ui-radio-glyph-color: #691717,
    $ui-radio-glyph-focus-color: #691717,
);

.x-tab-focus.x-tab-navigation{
    outline: none
}

.x-form-checkbox-focus {
    color: #691717!important;
}

.x-form-checkbox-default {
    color: #691717!important;
}

.x-title-icon-navigation {
    font-family: 'Font Awesome 5 Free';
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: 'Font Awesome 5 Free';
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}

.x-btn-default-toolbar-small {
    background-color: #5fa2dd;
}

.x-btn-inner-default-toolbar-small {
    color:#fff;
    font-weight: 600;
}